  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size:  62.5%;
    scroll-behavior: smooth;
  }
  body{
    min-height: 100vh;
    background:#3BACB6;
    
  }
  article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
  }
  .contact{
    min-height: 50rem;
    min-width: 80rem;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 300%;
    font-family: 'Odibee Sans',cursive;
  }
  h2{
    padding: 5rem;
    letter-spacing: 3px;
  }
  form{
    display:grid;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 8rem;
  }
  .input{
    padding: 1rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Odibee sans';
  }

  .errors{
    font-size: 2.5rem;
    font-family: 'Odibee Sans',cursive;
  }
 button{
    height: 5rem;
    background: #ffffff;
    font-family: 'Odibee Sans';
    font-size: 3rem;
    transition: background-color 0.5s ease-out 50ms
 }
 button:hover{
    background: #000000;
    color: #ffffff;

 }